@page "/Sistema"
@inject SistemasService sistemaService
@rendermode InteractiveServer

@* HTML *@
<PageTitle>Consulta de Sistemas</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header header-padding text-center">
            <h2 class="card-title">Consulta de Sistemas</h2>
            <a href="/Sistema/Create" class="btn btn-success float-end">
                <span class="bi bi-plus-circle mt-3"></span> Crear
            </a>
        </div>
        <div class="card-body">
            @*Labels*@
            <div class="row">
                @*Filtrar por*@
                <div class="col-4">
                    <label class="col-form-label">Filtrar por</label>
                </div>

                @*ValorFiltro*@
                <div class="col-4">
                    <label class="col-form-label">Búsqueda</label>
                </div>
            </div>

            @*Inputs y botones*@
            <div class="row align-items-center">
                <div class="col-4">
                    <div class="input-group">
                        <InputSelect class="form-select" @bind-Value="Filtro">
                            <option value="" selected disabled>Elija una opción</option>
                            <option value="SistemaId">SistemaId</option>
                        </InputSelect>
                        <button type="button" class="btn btn-outline-secondary" @onclick="Restablecer">
                            <span class="bi bi-arrow-clockwise"></span>
                        </button>
                    </div>
                </div>

                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar"/>
                        <button type="button" class="btn btn-primary" @onclick="Buscar">
                            <span class="bi bi-search"></span> Buscar
                        </button>
                    </div>
                </div>
            </div>

            @* Tabla *@
            <table class="table table-hover text-center">
                <thead class="table-striped text-black" style="border-bottom: 3px solid green;">
                <tr>
                    <th>SistemaId</th>
                    <th>Descripción</th>
                    <th>Complejidad</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var sistema in ListaSistemas)
                {
                    <tr>
                        <td>@sistema.SistemaId</td>
                        <td>@sistema.Descripcion</td>
                        <td>@sistema.Complejidad</td>
                        <td>
                            <a class="btn btn-outline-success bi bi-pencil-fill" href="/Sistema/Edit/@sistema.SistemaId"></a>
                        </td>
                        <td>
                            <a class="btn btn-outline-danger bi bi-trash-fill" href="/Sistema/Delete/@sistema.SistemaId"></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    public List<Sistemas> ListaSistemas { get; set; } = new List<Sistemas>();
    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaSistemas = await sistemaService.Listar(s => s.SistemaId > 0);
    }

    private async Task Buscar()
    {
        if (Filtro == "SistemaId")
        {
            if (int.TryParse(ValorFiltro, out int sistemaId))
            {
                ListaSistemas = await sistemaService.Listar(s => s.SistemaId == sistemaId);
            }
        }

        StateHasChanged();
    }

    private async Task Restablecer()
    {
        ListaSistemas = await sistemaService.Listar(s => s.SistemaId > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
    }
}