@page "/Sistema/Create"
@inject SistemasService SistemasService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@* HTML *@
<PageTitle>Registro de Sistemas</PageTitle>
<EditForm Model="Sistema" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Registro de Sistemas</h5>
            </div>
            <div class="card-body">
                @* SistemaId *@
                <div class="mb-3">
                    <label class="form-label"><strong>SistemaId</strong></label>
                    <InputNumber class="form-control" @bind-Value="Sistema.SistemaId" readonly />
                </div>

                @* Descripción *@
                <div class="mb-3">
                    <label class="form-label"><strong>Descripción</strong></label>
                    <InputText class="form-control" @bind-Value="Sistema.Descripcion" />
                    <ValidationMessage For="@(() => Sistema.Descripcion)" />
                </div>

                @* Complejidad *@
                <div class="mb-3">
                    <label class="form-label"><strong>Complejidad</strong></label>
                    <InputNumber class="form-control" @bind-Value="Sistema.Complejidad" />
                    <ValidationMessage For="@(() => Sistema.Complejidad)" />
                </div>
            </div>

            @* Footer *@
            <div class="card-footer text-center mt-2">
                <a href="/Sistema" class="btn btn-secondary"><span class="bi bi-arrow-left"></span> Retroceder</a>
                <button type="submit" class="btn btn-primary bi bi-floppy"> Guardar </button>
                <button type="button" class="btn btn-outline-success" @onclick="Nuevo">Nuevo</button>
            </div>
        </div>
    </div>

    @* Notificaciones *@
    <label style="color:red;" hidden="@string.IsNullOrEmpty(Error)">@Error</label>
</EditForm>

@code {
    public Sistemas Sistema { get; set; } = new Sistemas();
    public string Error { get; set; } = string.Empty;

    public void Nuevo()
    {
        this.Sistema = new Sistemas();
    }

    private async Task Guardar()
    {
        var creado = await SistemasService.Guardar(Sistema);
        if (creado)
        {
            navigationManager.NavigateTo("/Sistema");
        }
        else
        {
            Error = "Error al guardar el Registro";
        }
    }
}