@page "/Ciudad/Edit/{CiudadId:int}"
@inject CiudadesService CiudadesService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Editar Ciudad</PageTitle>

<EditForm Model="Ciudad" OnValidSubmit="Modificar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center bg-primary text-white m-2">
                <h3 class="card-title">Editar Ciudad</h3>
            </div>

            <div class="card-body">
                @* CiudadId *@
                <div class="mb-3">
                    <label class="form-label">CiudadId</label>
                    <InputNumber class="form-control small-input" @bind-Value="Ciudad.CiudadId" readonly />
                </div>

                @* Nombre Ciudad *@
                <div class="mb-3">
                    <label class="form-label">Nombre Ciudad</label>
                    <InputText class="form-control wide-input" @bind-Value="Ciudad.CiudadNombre" />
                    <ValidationMessage For="(() => Ciudad.CiudadNombre)" />
                </div>
            </div>

            @* Footer *@
            <div class="card-footer mt-2 text-center">
                <button type="submit" class="btn btn-outline-success">
                    <span class="bi bi-check-circle-fill"></span> Guardar
                </button>
                <a href="/Ciudad" class="btn btn-outline-danger">
                    <span class="bi bi-arrow-bar-left"></span> Retroceder
                </a>
            </div>
        </div>
    </div>

    @* Notificaciones *@
    <label class="text-success" hidden="@string.IsNullOrEmpty(Saved)">@Saved</label>
    <label class="text-danger" hidden="@string.IsNullOrEmpty(Error)">@Error</label>
</EditForm>

@code {
    [Parameter]
    public int CiudadId { get; set; }

    private Ciudades Ciudad { get; set; } = new Ciudades();
    private string Error { get; set; } = string.Empty;
    private string Saved { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Ciudad = await CiudadesService.Buscar(CiudadId);
    }

    private async Task Modificar()
    {
        if (await ExisteCiudad())
        {
            Error = "Ya existe una ciudad con ese nombre";
            return;
        }

        var creado = await CiudadesService.Guardar(Ciudad);
        if (creado)
        {
            Saved = "Ciudad editada exitosamente";
            navigationManager.NavigateTo("/Ciudad");
        }
        else
        {
            Error = "Error al guardar el Registro";
        }
    }

    public async Task<bool> ExisteCiudad()
    {
        return await CiudadesService.Existe(Ciudad.CiudadId);
    }
}