@page "/Ciudad"
@inject CiudadesService CiudadesService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@* HTML *@
<PageTitle>Registro de Ciudades</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header space-between">
            <h5 class="card-title">Consulta de Ciudades</h5>
            <a href="/Ciudad/Create" class="btn btn-success">
                <span class="bi bi-plus-square"></span> Crear
            </a>
        </div>

        <div class="card-body">
            @* Etiquetas *@
            <div class="row">
                <div class="col-3">
                    <label class="col-form-label"><strong>Filtrar por</strong></label>
                </div>

                <div class="col-4">
                    <label class="col-form-label"><strong>Búsqueda</strong></label>
                </div>
            </div>

            @* Inputs y botones *@
            <div class="row align-items-center">
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" selected disabled>Elija una opción</option>
                        <option value="CiudadId">CiudadId</option>
                        <option value="Nombre de Ciudad">NombreCiudad</option>
                    </InputSelect>
                </div>

                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar"/>
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>

                <div class="col-auto">
                    <button type="button" class="btn btn-outline-secondary bi bi-arrow-clockwise" @onclick="Restablecer"></button>
                </div>
            </div>

            @* Tabla *@
            <table class="table table-hover">
                <thead class="table table-striped text-black">
                <tr>
                    <th>CiudadId</th>
                    <th>Nombre Ciudad</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var ciudad in ListaCiudades)
                {
                    <tr>
                        <td>@ciudad.CiudadId</td>
                        <td>@ciudad.CiudadNombre</td>
                        <td class="text-center">
                            <a class="btn btn-outline-primary bi bi-pencil-square" href="/Ciudad/Edit/@ciudad.CiudadId"></a>
                        </td>
                        <td>
                            <a class="btn btn-outline-danger bi bi-trash" href="/Ciudad/Delete/@ciudad.CiudadId"></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    public List<Ciudades>? ListaCiudades { get; set; } = new List<Ciudades>();
    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaCiudades = await CiudadesService.Listar(c => c.CiudadId > 0);
    }

    private async Task Buscar()
    {
        if (Filtro == "CiudadId")
        {
            if (int.TryParse(ValorFiltro, out var ciudadId))
            {
                ListaCiudades = await CiudadesService
                    .Listar(c => c.CiudadId == ciudadId);
            }
        }
        else if (!string.IsNullOrWhiteSpace(ValorFiltro) && Filtro == "Nombre de Ciudad")
        {
            ListaCiudades = await CiudadesService
                .Listar(c => c.CiudadNombre.ToLower().Contains(ValorFiltro.ToLower()));
        }

        StateHasChanged();
    }

    private async Task Restablecer()
    {
        ListaCiudades = await CiudadesService.Listar(c => c.CiudadId > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
    }
}
